table, tr, td {
    border: 1px solid black;
    background-color: white;
}

body{
    background-color: #442727;
}
h1{
    color: white;
}
header{
    background-color: #D9D9D9 !important;
}
footer{
    background-color: #D9D9D9 !important;
    clear: both;  
}
#cardname{
    color: black;
}